.menuButton {
  margin: 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 1s;
}
.menuButton:hover {
  color: #fff;
  background-color: orange;
}
.menu {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
